<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detector de Neumonía</title>
    <style>
        #result {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        #result pre {
            margin: 0;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1>Detector de Neumonía</h1>
    <form id="form" enctype="multipart/form-data">
        <input type="file" name="file">
        <label for="carpeta_principal_imagenes">Ruta de la carpeta principal de imágenes:</label>
        <input type="text" id="carpeta_principal_imagenes" name="carpeta_principal_imagenes">
        <input type="button" onclick="enviarFormulario()" value="Cargar imagen">
    </form>
    <div id="result">
       <p id="respuesta">Resultado:</p>
    </div>

    <script>
        function enviarFormulario() {
            var form = document.getElementById('form');
            var formData = new FormData(form);

            // Enviar solicitud POST al servidor
            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // Mostrar el resultado formateado en la página
                var respuestaElemento = document.getElementById('respuesta');
                respuestaElemento.innerHTML = 'Resultado: <pre>' + data.respuesta + '</pre>';
            })
            .catch(error => console.error('Error:', error));
        }
    </script>